body
{font-family:Verdana,sans-serif;font-size:10px;line-height:1.5;background-color:#ffffff;color:#000000;}

/* Header related Styles - Starts*/
.hhmheader
{font-family:Verdana,sans-serif;font-size:10px;line-height:1; width:100%; color:#ffffff;background-color:#5994CE; padding:0.01em 4px; margin-top:4px;margin-bottom:0px}

h1
{font-family:Verdana,sans-serif;font-size:40px;font-weight:bold;line-height:1; width:95%;text-align:right; color:#ffffff;
text-shadow: 1px 1px 5px #0400FF, 0 0 25px #333333, 0 0 5px #0400FF;}

h2
{font-family:Verdana,sans-serif;font-size:26px;line-height:1; width:95%;text-align:right; color:#ffffff;text-shadow: 1px 1px 5px #000000, 0 0 25px #0400FF, 0 0 5px #000000;}
/* Header related Styles - Ends */

/* Navigation related Styles - Starts */
.hhmnavdiv
{font-family:Verdana,sans-serif;font-size:10px;line-height:1; width:100%; color:#ffffff;background-color:#BAD532; padding:0.01em 10px; margin-top:0px;margin-bottom:10px}

.hhmnavrow
{font-family:Verdana,sans-serif;font-size:12px;line-height:1.5;color:#000000;text-align:right;width:90%}

.navlinks:link, navlinks:visited {
font-family:Verdana,sans-serif;font-size:16px;font-weight:bold;line-height:1;
  background-color: #BAD532;
  color: #000000;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #000000;
}

.navlinks:hover, navlinks:active {
  font-weight:bold;
background-color: #000000;
border: 2px solid #000000;
color: #BAD532;
  text-decoration: undelined;
}

.navbuttons  {
font-family:Verdana,sans-serif;font-size:16px;font-weight:bold;line-height:1;
  background-color: #BAD532;
  color: #000000;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #000000;
}

.navbuttons:hover{
  font-weight:bold;
background-color: #000000;
border: 2px solid #000000;
color: #BAD532;
  text-decoration: undelined;
}

.links{
  font-family:Verdana,sans-serif;font-size:14px;font-weight:bold;line-height:1;
  font-style: italic;
  background-color: #FFFFFF;
  color: #000000;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 0px solid #000000;
}
/* Navigation related Styles - Ends */

/* Page-Container related Styles - Starts */
.hhmdivcenter {
  border: 0px solid;
  margin: auto;
  width: 95%;
  padding: 5px;
}

h3
{font-family:Verdana,sans-serif;font-size:26px;font-weight: bold;line-height:1; width:100%; color:#000000;}

h4
{font-family:Verdana,sans-serif;font-size:18px;font-weight: bold;line-height:1; width:100%; color:#0000ff;}

h5
{font-family:Verdana,sans-serif;font-size:16px;font-weight: bold;line-height:1; width:100%; color:#000000;}

.hhmsubtitle
{font-family:Verdana,sans-serif;font-size:20px;font-weight: bold;line-height:1.5; width:100%; color:#000000;}

.hhmtext
{font-family:Verdana,sans-serif;font-size:16px;line-height:1.5; width:100%; color:#000000;}

.hhmullitext
{font-family:Verdana,sans-serif;font-size:16px;line-height:1; width:100%; color:#000000;}

.hhmgotop
{font-family:Verdana,sans-serif;font-size:14px;line-height:1; width:100%; color:#333333;text-align:right}

.hhmmoredetails
{font-family:Verdana,sans-serif;font-size:14px;font-style:italic;line-height:1; width:100%; color:#0000FF;}
/* Page-Container related Styles - Ends */


/* Grid related Styles - Starts */
.grid-container {
    width:100%;
    display: grid;
    grid-template-columns: 24% 74%;
    grid-gap: 10px;
}
/* Grid related Styles - Ends */

/* Box-Shadow Styles - Starts */
.hhmboxshadow{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
/* Box-Shadow Styles - Ends */

/* Popup related Styles - Starts */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #5994CE;
  color: #00000;
  text-align: left;
  border-radius: 10px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-family:Verdana,sans-serif;
  font-size:16px;
  line-height:1.5;
border-width: 3px;
  border-style: solid;
border-color: #00000
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* Popup related Styles - Ends */

/* Photo-Swap related Styles - Starts */
#divhhmphoto {
background-image: url('../images/hhmphoto.jpg');
width:250px;
height:250px;
border: 2px solid #000000;
}

#divhhmphoto:hover {
   background-image: url('../images/hhmphoto2.jpg');
width:250px;
height:250px;
border: 2px solid #000000;
}
/* Photo-Swap related Styles - Ends */

/* Footer related Styles - Starts */
.hhmfooter
{font-family:Verdana,sans-serif;font-size:14px;line-height:1.5; width:100%; color:#333333;background-color:#5994CE; padding:0.01em 16px; margin-top:16px;margin-bottom:16px}

.hhmfootnote
{font-family:Verdana,sans-serif;font-size:14px;line-height:1.5;color:#000000;text-align:right;width:90%}
/* Footer related Styles - Ends */






